<div class="col-md-3"></div>
<div class="col-md-6">
    <div class="panel panel-default ">
        <div class="panel-body">
            <div class="col-lg-12">
                <h2>{{'technical.informations'|trans}}</h2>
                <p id="connector-version" >{{'mirakl.connector.version'|trans}} {{version['integration']}}</p>
                <p id="library-version" >{{'mirakl.library.version'|trans}} {{version['library']}}</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3"></div>
