{% extends 'layout.twig' %}

{% block content %}
	<div class="starter-template">
		<h1>Logs</h1>
	</div>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">Filtrer sur une période</div>
			<div class="panel-body">
				<form class="form-horizontal">
					<label for="start" class="col-lg-2 control-label">Période du</label>
					<div class="col-md-4">
						<div id="sandbox-container">
						<p class="text-center">
							<div class="input-daterange input-group" id="datepicker">
								<input type="text" class="input-sm form-control" name="start" />
								<span class="input-group-addon">au</span>
								<input type="text" class="input-sm form-control" name="end" />
							</div>
						</p>
						</div>
					</div>
					<div class="col-md-6">
						<a href="#" class="btn btn-default btn-lg ">Filtrer</a>&nbsp;&nbsp;
						<a href="#" class="btn btn-default btn-lg ">Télécharger les logs</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p class="text-center">
			<table class="table table-striped table-hover " id="table_logs">
				<colgroup>
					<col class="col-md-2">
					<col class="col-md-2">
					<col class="col-md-2">
					<col class="col-md-1">
					<col class="col-md-5">
				</colgroup>
				<thead>
				<tr>
					<th>Date</th>
					<th>Type information</th>
					<th>Action</th>
					<th>Mirakl ID</th>
					<th>Message</th>
				</tr>
				</thead>
				<tbody>
                {% for key, row in rows %}
					<tr>
						<td>{{ row.date }}</td>
						<td>
							{% if row.type_info == 'WARNING' and row.error_message != '' %}
							<span class="bs-component">
							<button
								type="button"
								class="btn btn-info btn-xs"
								data-container="body"
								data-toggle="popover"
								data-placement="bottom"
								data-content="{{ row.error_message }}"
								data-original-title=""
								title="">{{ row.type_info }}</button>
							</span>
							{% else %}
                                {{ row.type_info }}
							{% endif %}
						</td>
						<td>{{ row.action }}</td>
						<td>{{ row.mirakl_id }}</td>
						<td>{{ row.message }}</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript">
        $('#sandbox-container .input-daterange').datepicker({
            format: 'dd/mm/yyyy'
        });
	</script>
{% endblock %}