{% extends 'layout.twig' %}

{% block content %}
	<div class="starter-template">
		<h1>Vendors management</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p class="text-center">
				<table id="table_vendor" class="table table-striped table-hover ">
					<thead>
					<tr>
						<th>Mirakl ID</th>
						<th>Login</th>
						<th>Etat</th>
						<th>Statut compte Wallet</th>
						<th>HiPay ID</th>
						<th>Documents envoyés</th>
					</tr>
					</thead>
					<tbody>
    				{% for key, row in rows %}
					<tr>
						<td>{{ row.mirakl_id }}</td>
						<td>{{ row.login }}</td>
						<td class="{{ row.class }}"></td>
						<td>{{ row.status }}&nbsp;&nbsp;
							{% if row.message != '' %}
							<span class="bs-component">
								<button
									type="button"
									class="btn btn-info btn-xs"
									data-container="body"
									data-toggle="popover"
									data-placement="bottom"
									data-content="{{ row.message }}"
									data-original-title=""
									title="">Show message</button>
							</span>
							{% endif %}
						</td>
						<td>{{ row.hipay_id }}</td>
						<td>
							({{ row.document_sent }})
                            {% if row.document_sent != '-' %}
							- <a href="javascript:void" onclick="popup_vendor_detail({{ key }});"> Voir le detail</a>
							<div id="popup-{{ key }}" style="display:none;">
								<h3>Vendeur (Mirakl ID: {{ row.mirakl_id }} / HiPay ID: {{ row.hipay_id }})</h3>
								<table class="table table-striped table-hover ">
									<thead>
									<tr>
										<th>Type de document</th>
										<th>Statut</th>
										<th>Motif refus</th>
									</tr>
									</thead>
									<tbody>
										<tr><td>ID Proof</td><td class="success">validé</td><td>-</td></tr>
										<tr><td>Bank</td><td class="danger">Refusé</td><td>-</td></tr>
										<tr><td>Compagny Registration</td><td class="">-</td><td>-</td></tr>
										<tr><td>Distribution of power<br>(uniquement société)</td><td class="">-</td><td>-</td></tr>
										<tr><td>Tax status<br>(uniquement pers. physique)</td><td class="">-</td><td>-</td></tr>
										<tr><td>President of association</td><td class="success">validé</td><td>-</td></tr>
										<tr><td>Official journal<br>(uniquement association)</td><td class="success">validé</td><td>-</td></tr>
										<tr><td>Association status</td><td class="success">validé</td><td>-</td></tr>
									</tbody>
								</table>
							</div>
                            {% endif %}
						</td>
					</tr>
                    {% endfor %}
					</tbody>
				</table>
			</p>
		</div>
	</div>
	<div class="modal" style="display:none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="popup_vendor_close();">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p class="popup-vendor-document"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" onclick="popup_vendor_close();">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
        function popup_vendor_detail(key) {
            var html = $("#popup-"+key).html();
            $(".popup-vendor-document").html(html);
            $(".modal").show();
        }
        function popup_vendor_close() {
            $(".popup-vendor-document").html('');
            $(".modal").hide();
		}
	</script>
{% endblock %}