{% extends 'layout.twig' %}

{% block content %}
    <div class="starter-template">
        <h1>{{'transfer.withdraw.management'|trans}}</h1>
    </div>

    <div class="row">
        <div  id="filter" class="panel panel-default">
            <div class="panel-heading">{{'filters'|trans}}</div>
            <div class="panel-body">
                <form id="operations-filter-form" class="form-horizontal">
                    <div class="col-md-3">
                        <label for="start" class=" control-label">{{'transfer.status'|trans}}</label>
                        <div id="sandbox-container">
                            <select id="status-transfer" class="form-control" name="status-transfer">
                                <option value="-1" >{{'select.transfer.status'|trans}}</option>
                                <option value="3" >{{ 'transfer.request.success'|trans }}</option>
                                <option value="-10" >{{ 'withdraw.request.negative'|trans }}</option>
                                <option value="-9" >{{ 'transfer.request.failed'|trans }}</option>
                                <option value="-5" >{{ 'transfer.vendor.disabled'|trans }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="start" class=" control-label">{{'withdraw.status'|trans}}</label>
                        <div id="sandbox-container">
                            <select id="status-withdraw" class="form-control" name="status-withdraw">
                                <option value="-1" >{{'select.withdraw.status'|trans}}</option>
                                <option value="5" >{{ 'withdraw.request.requested'|trans }}</option>
                                <option value="6" >{{ 'withdraw.request.success'|trans }}</option>
                                <option value="-7" >{{ 'withdraw.request.failed'|trans }}</option>
                                <option value="-11" >{{ 'withdraw.request.negative'|trans }}</option>
                                <option value="-8" >{{ 'withdraw.request.canceled'|trans }}</option>
                                <option value="-6" >{{ 'withdraw.vendor.disabled'|trans }}</option>
                                <option value="-12" >{{ 'withdraw.payment.blocked'|trans }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6  text-right">
                        <a  id="filter-action" href="#" class="btn btn-default btn-lg btn-hipay">{{'filter'|trans}}</a>&nbsp;&nbsp;
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
            <table class="table table-striped table-hover "  id="table_transfers">
                <thead>
                <tr>
                    <th>Mirakl ID</th>
                    <th>HiPay ID</th>
                    <th>{{'payment.order.id'|trans}}</th>
                    <th>{{'amount'|trans}}</th>
                    <th>{{'amount.origin'|trans}}</th>
                    <th>{{'transfer.status'|trans}}</th>
                    <th>{{'withdraw.status'|trans}}</th>
                    <th>{{'balance'|trans}}</th>
                    <th>{{'date'|trans}}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
