{% extends 'layout.twig' %}

{% block content %}
    <div class="starter-template">
        <h1>{{ 'vendors.management'|trans }}</h1>
    </div>

    <div class="row">
        <div id="filter" class="panel panel-default">
            <div class="panel-heading">{{ 'filters'|trans }}</div>
            <div class="panel-body">
                <form id="vendor-filter-form">
                    <div class="col-md-12">
                        <div class="form-group col-md-2">
                            <label for="start" class=" control-label">{{ 'state'|trans }}</label>
                            <select id="status-filter" name="status" class="form-control">
                                <option value="-1">{{ 'select.state'|trans }}</option>
                                <option value="1">Success</option>
                                <option value="3">Warning</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="start" class=" control-label">{{ 'wallet.account.status'|trans }}</label>
                            <select id="wallet-status-filter" name="wallet_status" class="form-control">
                                <option value="-1">{{ 'select.wallet.account.status'|trans }}</option>
                                <option value="1">{{ 'created'|trans }}</option>
                                <option value="2">{{ 'not.created'|trans }}</option>
                                <option value="3">{{ 'identified'|trans }}</option>
                                <option value="4">{{ 'not.identified'|trans }}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="start" class="control-label">{{ 'date.range'|trans }}</label>
                            <div id="sandbox-container">
                                <div class="input-daterange input-group" id="datepicker">
                                    <input type="text" class="input-sm form-control" id="start" name="start"/>
                                    <span class="input-group-addon">{{ 'date.range.to'|trans }}</span>
                                    <input type="text" class="input-sm form-control" id="end" name="end"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-1">
                            <label for="country" class="control-label">{{ 'country'|trans }}</label>
                            <select id="country" name="country[]" multiple="multiple">
                                {% for country in countries %}
                                    <option {% if country["country"] not in defaultFilteredCountries %} selected {% endif %} value="{{ country["country"] }}">
                                        {% if country["country"] is empty %}
                                            {{ 'unknown'|trans }}
                                        {% else %}
                                            {{ country["country"]|trans }}
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a id="filter-action" href="#"
                           class="btn btn-default btn-lg btn-hipay  pull-right">{{ 'filter'|trans }}</a>&nbsp;&nbsp;
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
            <table id="table_vendor" class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th>Mirakl ID</th>
                    <th>Login</th>
                    <th>{{ 'state'|trans }}</th>
                    <th>{{ 'wallet.account.status'|trans }}</th>
                    <th>{{ 'enabled'|trans }}</th>
                    <th>HiPay ID</th>
                    <th>{{ 'country'|trans }}</th>
                    <th>{{ 'date'|trans }}</th>
                    <th>{{ 'sent.documents'|trans }}</th>
                </tr>
                </thead>
            </table>
            </p>
        </div>
    </div>
    <div id="documents-page" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            onclick="popup_vendor_close();">&times;</button>
                    <h4 class="modal-title">{{ 'documents.list'|trans }}</h4>
                </div>
                <div class="modal-body">

                    <p class="popup-vendor-document">
                        <img id="loader-document-page" class="loader-document" src="{{ asset('img/loading.gif') }}"/>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-hipay" data-dismiss="modal"
                            onclick="popup_vendor_close();">{{ 'close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $('#sandbox-container .input-daterange').datepicker({
            format: 'dd/mm/yyyy',
            orientation: 'bottom',
            forceParse: false
        });

        function popup_vendor_detail(id) {
            $.get("documents-ajax", {id: id}, function (data) {
                $(".popup-vendor-document").html(data);
                $('.modal .modal-body').css('overflow-y', 'auto');
                $('.modal .modal-body').css('max-height', $(window).height() * 0.7);
            });
            $(".modal").modal('toggle');
        }
        function popup_vendor_close() {
            $(".popup-vendor-document").html('<img class="loader-document" src="{{ asset('img/loading.gif') }}" />');
            $(".modal").modal('toggle');
        }

        $('.modal').on('show.bs.modal', function () {
            $('.modal .modal-body').css('overflow-y', 'auto');
            $('.modal .modal-body').css('max-height', $(window).height() * 0.7);
        });

        $(document).ready(function () {
            $('#country').multiselect(
                    {
                        nonSelectedText: "{{ 'select.country'|trans }}",
                        allSelectedText: "{{ 'select.country.all'|trans }}"
                    }
            );
        });
    </script>
{% endblock %}
